---
interface Props {
  year: number;
}

const { year } = Astro.props;
---

<div class="sticky top-20 z-[5] text-center my-5">
  <span class="bg-brand-bg text-brand-dark px-4 py-1 text-xl font-bold">{year}</span>
</div>
