{% extends "base.html" %}

{% block title %}Career - Portfolio{% endblock %}

{% block body_attrs %} class="bg-light"{% endblock %}

{% block content %}
    <!-- Timeline Section -->
    <div class="container mt-3">
        <h1 class="text-center">Career</h1>
        <div class="timeline-container timeline-vertical">
            <!-- Timeline Line -->
            <div class="timeline-line"></div>

            <!-- Timeline Card 1 -->
            <div class="timeline-item">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">TBD</h5>
                        <p class="card-text justify">TBD</p>
                    </div>
                </div>
            </div>

            <!-- Timeline Card 2 -->
            <div class="timeline-item">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">TBD</h5>
                        <p class="card-text justify">TBD</p>
                    </div>
                </div>
            </div>

            <!-- Timeline Card 3 -->
            <div class="timeline-item">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">TBD</h5>
                        <p class="card-text justify">TBD</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
