{% extends "base.html" %}

{% block title %}Certificates - Portfolio{% endblock %}

{% block content %}
    <!-- Timeline Section -->
    <div class="container mt-3">
        <div class="timeline-container">
            <!-- Timeline Line -->
            <div class="timeline-line"></div>

            <!-- Timeline Card 1 -->
            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Data Science Professional</h5>
                        <p class="card-text"><a href="https://rss.org.uk/">Royal Statistical Society</a>
                            and <a href="https://alliancefordatascienceprofessionals.com/">Alliance for Data Science Professionals</a>
                            certified Data Science Professional.
                            Membership ID: 235177
                        </p>
                        <a href="{{ url_for('static', filename='certificates/rss_certificates/RSS Professional Data Science certificate.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Timeline Card 2 -->
            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Professional Data Analyst</h5>
                        <p class="card-text"><a href="https://rss.org.uk/">Royal Statistical Society</a> certified
                            Professional Data Analyst.
                            Membership ID: 235177
                        </p>
                        <a href="{{ url_for('static', filename='certificates/rss_certificates/RSS Professional Data Analyst certificate.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Timeline Card 3 -->
            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Building Resilient Streaming Analytics Systems on Google Cloud</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8859442?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Introduction to Generative AI</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8839057?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Level 3: GenAIus Registries</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8836004?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Preparing for your Professional Data Engineer Journey</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/9103677?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Serverless Data Processing with Dataflow: Foundations</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/9011212?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Share Data Using Google Data Cloud</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/9050222?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Streaming Analytics into BigQuery</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8911241?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Build a Data Warehouse with BigQuery</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8737212?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Building Batch Data Pipelines on Google Cloud</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8701844?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Derive Insights from BigQuery Data</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8658274?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Modernizing Data Lakes and Data Warehouses with Google Cloud</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8598336?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Prepare Data for ML APIs on Google Cloud</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8577645?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Smart Analytics, Machine Learning, and AI on Google Cloud</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8567486?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Engineer Data for Predictive Modeling with BigQuery ML</h5>
                        <p class="card-text"></p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/5b0128f3-bdc6-47fe-8864-7fd884b226a6/badges/8489015" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Digital Fundamentals - WPP Future Readiness Academies</h5>
                        <p class="card-text"></p>
                        <a href="{{ url_for('static', filename='certificates/WPP NextGen Leaders.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Hands On Essentials - Data Applications</h5>
                        <p class="card-text"></p>
                        <a href="https://achieve.snowflake.com/974d0ca9-5896-41c0-878d-404b6b993663#acc.2pBsJy9P" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Hands On Essentials - Data Warehouse</h5>
                        <p class="card-text"></p>
                        <a href="https://achieve.snowflake.com/375fe8fb-ad6b-4a6f-805c-06a409fad00d#acc.IHEjK1r0" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">SQL for Data Science</h5>
                        <p class="card-text"></p>
                        <a href="https://www.coursera.org/account/accomplishments/certificate/3SS6R3ZAVNS8" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Agile Software Development</h5>
                        <p class="card-text"></p>
                        <a href="https://www.coursera.org/account/accomplishments/verify/E4X7KF2A4WF3?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cultural Fluency</h5>
                        <p class="card-text">Pagoda Projects</p>
                        <a href="{{ url_for('static', filename='certificates/pagoda_projects/Intercultural Fluency.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Digital Competency</h5>
                        <p class="card-text">Pagoda Projects</p>
                        <a href="{{ url_for('static', filename='certificates/pagoda_projects/Digital Competency.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Employability Skills</h5>
                        <p class="card-text">Pagoda Projects</p>
                        <a href="{{ url_for('static', filename='certificates/pagoda_projects/Employability Skills.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Workplace Basics for Graduates</h5>
                        <p class="card-text">Pagoda Projects</p>
                        <a href="{{ url_for('static', filename='certificates/pagoda_projects/Workplace Basics for Graduates.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Building Resilience</h5>
                        <p class="card-text">LinkedIn</p>
                        <a href="{{ url_for('static', filename='certificates/linkedin/Building Resilience.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">IoT Foundations: Fundamentals</h5>
                        <p class="card-text">LinkedIn</p>
                        <a href="{{ url_for('static', filename='certificates/linkedin/IoT Foundations Fundamentals.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Learning Amazon Web Services (AWS) for Developers (2018)</h5>
                        <p class="card-text">LinkedIn</p>
                        <a href="{{ url_for('static', filename='certificates/linkedin/Learning Amazon Web Services AWS for Developers 2018 (CompTIA).pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Supply Chain Basics For Everyone</h5>
                        <p class="card-text">LinkedIn</p>
                        <a href="{{ url_for('static', filename='certificates/linkedin/Supply Chain Basics For Everyone.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Introduction to TensorFlow in Python</h5>
                        <p class="card-text">DataCamp</p>
                        <a href="{{ url_for('static', filename='certificates/datacamp/Introduction to TensorFlow in Python.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Machine Learning for Everyone</h5>
                        <p class="card-text">DataCamp</p>
                        <a href="{{ url_for('static', filename='certificates/datacamp/Machine Learning for Everyone.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Supervised Learning with scikit-learn</h5>
                        <p class="card-text">DataCamp</p>
                        <a href="{{ url_for('static', filename='certificates/datacamp/Supervised Learning with scikit-learn.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Basic Ladder Logic Interpretation</h5>
                        <p class="card-text">Rockwell Automation logo</p>
                        <a href="{{ url_for('static', filename='certificates/rockwell/Studio 5000 Logix Designer level 3.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Basic Ladder Logic Programming</h5>
                        <p class="card-text">Rockwell Automation logo</p>
                        <a href="{{ url_for('static', filename='certificates/rockwell/Studio 5000 Logix Designer level 2.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">ControlLogix Logix 5000 System Fundamentals</h5>
                        <p class="card-text">Rockwell Automation logo</p>
                        <a href="{{ url_for('static', filename='certificates/rockwell/Studio 5000 Logix Designer level 1.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Emotional AI: Facial Key-Points Detection</h5>
                        <p class="card-text">Coursera</p>
                        <a href="{{ url_for('static', filename='certificates/Emotional AI Facial Key-Points Detection.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Challenges and Opportunities for Fresh Graduates - Ufone Master Class</h5>
                        <p class="card-text">Ufone</p>
                        <a href="{{ url_for('static', filename='certificates/ufone/Ufone Master Class 5.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Google Cloud Essentials</h5>
                        <p class="card-text">Google</p>
                        <a href="https://www.cloudskillsboost.google/public_profiles/59f8fc09-6fe1-42f9-941f-f5b86e964599/badges/275973" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Microsoft Excel Essential - Ufone Master Class</h5>
                        <p class="card-text">Ufone</p>
                        <a href="{{ url_for('static', filename='certificates/ufone/Ufone Master Class 4.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Work Ethics 101 - Ufone Master Class</h5>
                        <p class="card-text">Ufone</p>
                        <a href="{{ url_for('static', filename='certificates/ufone/Ufone Master Class 3.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Straight Out of Campus - All You Need to Know</h5>
                        <p class="card-text">Ufone</p>
                        <a href="{{ url_for('static', filename='certificates/ufone/Ufone Master Class 2.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Balancing Work and Life</h5>
                        <p class="card-text">LinkedIn</p>
                        <a href="{{ url_for('static', filename='certificates/linkedin/Balancing Work and Life.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Data Manipulation with Pandas</h5>
                        <p class="card-text">DataCamp</p>
                        <a href="{{ url_for('static', filename='certificates/datacamp/Data Manipulations With Pandas.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Introduction to Python</h5>
                        <p class="card-text">DataCamp</p>
                        <a href="{{ url_for('static', filename='certificates/datacamp/Introduction To Python.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Managing Stress for Positive Change</h5>
                        <p class="card-text">LinkedIn</p>
                        <a href="{{ url_for('static', filename='certificates/linkedin/Managing Stress for Positive Change - Project Management Institute (PMI).pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">The Six Morning Habits of High Performers</h5>
                        <p class="card-text">LinkedIn</p>
                        <a href="{{ url_for('static', filename='certificates/linkedin/The Six Morning Habits of High Performers.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item left">
                <span class="dot-left"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Major League Hacking's Local Hack Day</h5>
                        <p class="card-text">Major League Hacking</p>
                        <a href="{{ url_for('static', filename='certificates/MLH Local Hack Day.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-item right">
                <span class="dot-right"></span>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">3D reconstruction using 3DF ZEPHYR</h5>
                        <p class="card-text">National University of Sciences and Technology (NUST)</p>
                        <a href="{{ url_for('static', filename='certificates/3D Construction using 3DF ZEPHYR.pdf') }}" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-award icon-size"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add more cards as needed -->
        </div>
    </div>
{% endblock %}