<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Portfolio</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Link to custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Fixed Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top custom-navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarNav" aria-controls="navbarNav" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'home' %}active{% endif %}" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'career' %}active{% endif %}" href="{{ url_for('career') }}">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'projects' %}active{% endif %}" href="{{ url_for('projects') }}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'certificates' %}active{% endif %}" href="{{ url_for('certificates') }}">Certificates</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container mt-5 pt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body text-center">
                        <h1 class="card-title">Muhammad Danial Khilji</h1>
                        <p class="card-text">Data Scientist, Machine Learning Engineer & Web Developer</p>
                        <h2 class="left-align">About</h2>
                        <p class="justify">As a data scientist, mostly working with NLP technologies,
                            with three years of experience in the marketing industry, I am eager to continue growing and learning.
                            With a strong background in electrical engineering and a Master's degree in applied data science,
                            I am well-equipped to tackle any challenge that comes my way.
                            Currently, I am working on maintaining a python package and help other teams for taxonomy mapping,
                            where I have the opportunity to put my skills to the test and contribute to meaningful work.
                            I am a hardworking and dedicated professional, always looking for ways to improve and excel in my career.
                            I get to use my analytical, engineering and machine learning skills to make a real difference with
                            an aim to solve problems at hand in the best way possible. It's like I'm Tony Stark in "Iron Man",
                            building something great and using my powers for good (well, data good) with only difference that
                            I love AI more.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body text-center">
                        <h2 class="card-title">Publications</h2>
                        <p></p>
                        <h5 class="card-title">Features matching using natural language processing</h5>
                        <h12 class="card-title">International Journal on Cybernetics & Informatics (IJCI) - Mar 24, 2023</h12>
                        <p></p>
                        <p class="justify">The feature matching is a basic step in matching different datasets.
                            This article proposes shows a new hybrid model of a pretrained Natural Language Processing (NLP) based model called BERT used in parallel with a statistical model based on Jaccard similarity to measure the similarity between list of features from two different datasets.
                            This reduces the time required to search for correlations or manually match each feature from one dataset to another.
                        </p>
                        <a href="https://arxiv.org/abs/2303.12804" target="_blank" rel="noopener noreferrer">Link to paper</a>
                        <p></p>
                        <h5 class="card-title">Analysis Photovoltaic System in Relation to Tracking and Non-Tracking System</h5>
                        <h12 class="card-title">Journal of Fundamentals of Renewable Energy and Applications - Feb 15, 2021</h12>
                        <p></p>
                        <p class="justify">The increasing demand of electricity has been a great concern in recent years.
                            The increasing demand and environmental (global warming) issues urged scientists to evolve in the field of renewable energy.
                            Solar energy is one of the major sources of renewable energy. Electrical energy is produced by photovoltaic cells when they allow light particles to knock free electrons from atoms.
                            The amount of electrical output produced by the system is dependent on amount of solar energy received by PV cells.
                            To increase solar energy output, a fixed solar panel inclined towards the optimal point is usually used.
                            The collection of solar energy is increased by using solar tracking systems i.e. single axis or dual axis, which continuously track the sun using incidence angle of sunlight.
                            The analysis is carried out to compare the performance between tracking and non-tracking photovoltaic systems.
                            Data of specific solar panel systems is analysed and compared with simulations and actual outputs to compute performance ratios and deduce conclusions.
                            The average performance ratio is found out to be 0.73 for non-tracking system and 0.90 (17% more than non-tracking systems) for tracking systems.
                            The accuracy of estimated output of a PV system can be improved by using more accurate solar irradiance data, accurate weather conditions, exact system losses and matched inverter efficiency.
                            The efficiency of a PV system can be improved by using solar trackers, using more efficient solar panels, installing them in a less shaded area, cleaning the panels on regular intervals, and using more efficient electrical components.
                        </p>
                        <a href="https://clok.uclan.ac.uk/36933/1/36933%20analysis-photovoltaic-system-in-relation-to-tracking-and-nontracking-system.pdf" target="_blank" rel="noopener noreferrer">Link to paper</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body text-center">
                        <h2 class="card-title">Languages</h2>
                        <p class="card-text">English, Urdu, German, Punjabi</p>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <!-- Footer -->
    <footer class="footer py-4 bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h5>Get In Touch</h5>
                    <p>danialkhilji@yahoo.com</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>Built with ❤️</p>
                    <p>© 2024 Muhammad Danial Khilji</p>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-unstyled">
                        <li><a href="https://www.linkedin.com/in/danialkhilji/" class="text-light me-2" target="_blank">LinkedIn</a></li>
                        <li><a href="https://github.com/danialkhilji" class="text-light me-2" target="_blank">GitHub</a></li>
                        <li><a href="https://medium.com/@khiljidanial" class="text-light me-2" target="_blank">Medium</a></li>
                        <li><a href="https://www.researchgate.net/profile/Danial-Khilji" class="text-light me-2" target="_blank">Research Gate</a></li>
                    </ul>
                    <p>Preston, United Kingdom</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
