{% extends "base.html" %}

{% block title %}Home - Portfolio{% endblock %}

{% block extra_head %}
    <!-- Link to Awesome icons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title">Muhammad Danial Khilji</h1>
                        <p class="card-text">Data Scientist | Machine Learning Engineer</p>
                        <h2 class="left-align">About</h2>
                        <p class="justify">As a data scientist, mostly working with NLP technologies,
                            with three years of experience in the marketing industry, I am eager to continue growing and learning.
                            With a strong background in electrical engineering and a Master's degree in applied data science,
                            I am well-equipped to tackle any challenge that comes my way.
                            Currently, I am working on maintaining a python package and help other teams for taxonomy mapping,
                            where I have the opportunity to put my skills to the test and contribute to meaningful work.
                            I am a hardworking and dedicated professional, always looking for ways to improve and excel in my career.
                            I get to use my analytical, engineering and machine learning skills to make a real difference with
                            an aim to solve problems at hand in the best way possible. It's like I'm Tony Stark in "Iron Man",
                            building something great and using my powers for good (well, data good) with only difference that
                            I love AI more.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <h2 class="card-title">Skills</h2>
                        <div class="skill-buttons mt-3">
                            <span class="skill-btn">Python</span>
                            <span class="skill-btn">Machine Learning</span>
                            <span class="skill-btn">Data Science</span>
                            <span class="skill-btn">Data Analysis</span>
                            <span class="skill-btn">Computer Vision</span>
                            <span class="skill-btn">Natural Language Processing (NLP)</span>
                            <span class="skill-btn">Language Models (LMs)</span>
                            <span class="skill-btn">Data Engineering</span>
                            <span class="skill-btn">Data Pipelines</span>
                            <span class="skill-btn">SQL</span>
                            <span class="skill-btn">BigQuery ML (GCP)</span>
                            <span class="skill-btn">Snowflake</span>
                            <span class="skill-btn">Data Clean Rooms</span>
                            <span class="skill-btn">Microsoft Azure AI</span>
                            <span class="skill-btn">Google Vertex AI</span>
                            <span class="skill-btn">Data Visualization</span>
                            <span class="skill-btn">Tableau</span>
                            <span class="skill-btn">Google Studio</span>
                            <span class="skill-btn">Flourish</span>
                            <span class="skill-btn">Git (Version Control)</span>
                            <span class="skill-btn">PySpark</span>
                            <span class="skill-btn">R (Programming Language)</span>
                            <span class="skill-btn">R Studio</span>
                            <span class="skill-btn">Flask</span>
                            <span class="skill-btn">Kubeflow</span>
                            <span class="skill-btn">Arduino IDE</span>
                            <span class="skill-btn">C++</span>
                            <span class="skill-btn">Linux OS (Flavours: Ubuntu and Garuda)</span>
                            <span class="skill-btn">Weka</span>
                            <span class="skill-btn">Matlab</span>
                            <span class="skill-btn">Matlab Simulink</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <h2 class="card-title">Publications</h2>
                        <p></p>
                        <h5 class="card-title">Features matching using natural language processing</h5>
                        <p class="card-text"><small>International Journal on Cybernetics & Informatics (IJCI) - Mar 24, 2023</small></p>
                        <p></p>
                        <p class="justify">The feature matching is a basic step in matching different datasets.
                            This article proposes shows a new hybrid model of a pretrained Natural Language Processing (NLP) based model called BERT used in parallel with a statistical model based on Jaccard similarity to measure the similarity between list of features from two different datasets.
                            This reduces the time required to search for correlations or manually match each feature from one dataset to another.
                        </p>
                        <a href="https://arxiv.org/abs/2303.12804" target="_blank" rel="noopener noreferrer" aria-label="View Features matching using natural language processing paper">
                            <i class="bi bi-file-earmark-text"></i>
                        </a>
                        <p></p>
                        <h5 class="card-title">Analysis Photovoltaic System in Relation to Tracking and Non-Tracking System</h5>
                        <p class="card-text"><small>Journal of Fundamentals of Renewable Energy and Applications - Feb 15, 2021</small></p>
                        <p></p>
                        <p class="justify">The increasing demand of electricity has been a great concern in recent years.
                            The increasing demand and environmental (global warming) issues urged scientists to evolve in the field of renewable energy.
                            Solar energy is one of the major sources of renewable energy. Electrical energy is produced by photovoltaic cells when they allow light particles to knock free electrons from atoms.
                            The amount of electrical output produced by the system is dependent on amount of solar energy received by PV cells.
                            To increase solar energy output, a fixed solar panel inclined towards the optimal point is usually used.
                            The collection of solar energy is increased by using solar tracking systems i.e. single axis or dual axis, which continuously track the sun using incidence angle of sunlight.
                            The analysis is carried out to compare the performance between tracking and non-tracking photovoltaic systems.
                            Data of specific solar panel systems is analysed and compared with simulations and actual outputs to compute performance ratios and deduce conclusions.
                            The average performance ratio is found out to be 0.73 for non-tracking system and 0.90 (17% more than non-tracking systems) for tracking systems.
                            The accuracy of estimated output of a PV system can be improved by using more accurate solar irradiance data, accurate weather conditions, exact system losses and matched inverter efficiency.
                            The efficiency of a PV system can be improved by using solar trackers, using more efficient solar panels, installing them in a less shaded area, cleaning the panels on regular intervals, and using more efficient electrical components.
                        </p>
                        <a href="https://clok.uclan.ac.uk/36933/1/36933%20analysis-photovoltaic-system-in-relation-to-tracking-and-nontracking-system.pdf" target="_blank" rel="noopener noreferrer" aria-label="View Analysis Photovoltaic System paper">
                            <i class="bi bi-file-earmark-text"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <h2 class="card-title">Languages</h2>
                        <div class="skill-buttons mt-3">
                            <span class="skill-btn">🇬🇧 English</span>
                            <span class="skill-btn">🇵🇰 Urdu</span>
                            <span class="skill-btn">🇩🇪 German</span>
                            <span class="skill-btn">🇵🇰 Punjabi</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}