<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Portfolio</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-light">
    <!-- Fixed Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top custom-navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarNav" aria-controls="navbarNav" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'home' %}active{% endif %}" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'career' %}active{% endif %}" href="{{ url_for('career') }}">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'projects' %}active{% endif %}" href="{{ url_for('projects') }}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'certificates' %}active{% endif %}" href="{{ url_for('certificates') }}">Certificates</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Timeline Section -->
    <div class="container mt-5 pt-4">
        <div class="timeline-container timeline-vertical">
            <!-- Timeline Line -->
            <div class="timeline-line"></div>

            <!-- Timeline Card 1 -->
            <div class="timeline-item">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Digital Development Initiative</h5>
                        <p class="card-text justify">This project aims to use World Bank data and analyse it.
                            The objective is to find 10 best countries that deserve the World Bank funding for digital development.
                            The countries filtered are based on many different features such as their GDP, Internet Users, etc.
                            The future predictions of each country growth was also evaluated using Auto Regressive Integrated Moving Average (ARIMA) algorithm.
                            <b>Other contributors:</b> Faizan Alvi
                        </p>
                        <a href="https://github.com/danialkhilji/Digital-Development-Initiative-World-Bank" target="_blank" rel="noopener noreferrer">Github repo</a>
                    </div>
                </div>
            </div>

            <!-- Timeline Card 2 -->
            <div class="timeline-item">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Bank Marketing data analysis (EDA)</h5>
                        <p class="card-text justify">This projects explores the bank marketing dataset using automatic EDA packages in R.
                            The objective is to figure out the frequency of customers using which type of accounts so that new bank offers are offered to most loyal customers.
                        </p>
                        <a href="https://github.com/danialkhilji/Bank-Marketing-EDA" target="_blank" rel="noopener noreferrer">Github repo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS Bundle (Optional for Navbar Functionality) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Footer -->
    <footer class="footer mt-auto py-4 bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h5>Get In Touch</h5>
                    <p>danialkhilji@yahoo.com</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>Built with ❤️</p>
                    <p>© 2024 Muhammad Danial Khilji</p>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-unstyled">
                        <li><a href="https://www.linkedin.com/in/danialkhilji/" class="text-light me-2" target="_blank">LinkedIn</a></li>
                        <li><a href="https://github.com/danialkhilji" class="text-light me-2" target="_blank">GitHub</a></li>
                        <li><a href="https://medium.com/@khiljidanial" class="text-light me-2" target="_blank">Medium</a></li>
                        <li><a href="https://www.researchgate.net/profile/Danial-Khilji" class="text-light me-2" target="_blank">Research Gate</a></li>
                    </ul>
                        <p>Preston, United Kingdom</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
